{{#if isLoading}}
  {{content-load}}
{{else}}
  <div class="flex-container demo-items">
    {{#each posts as |value|}}
      {{article-list value=value}}
    {{/each}}
  </div>
    {{infinity-loader
      infinityModel=posts
      loadingText="Loading Contents..."
      loadedText="All Results..."
    }}
{{/if}}