{{#if isLoading}}
  {{content-load}}
{{else}}
  <div class="flex-container demo-items">
    {{#each posts as |value|}}
      {{article-list value=value}}
    {{/each}}
    {{infinity-loader
      infinityModel=posts
      loadingText="Loading Contents..."
      loadedText="Contents Entirely loaded."
    }}
  </div>
{{/if}}