{{!--{{#loader}}{{/loader}}--}}
<div class="layout-row layout-align-space-around-center">
  <div class="flex">
    <img
        class="application_tmp_img"
        alt="blog"
        src="https://www.shijiezhou.com/images/newlogo.png"
    />

  </div>
  <div class="flex-50"></div>
  <div class="flex">
    <i class="material-icons">
      search
    </i>
    <i class="material-icons">
      notification_important
    </i>
    <img
        src="https://cdn-images-1.medium.com/fit/c/64/64/0*b90Ej2bAcyCdYYuY"
        alt="user image"
        width="30px"
        height="30px"
    />

  </div>
</div>
<div class="menu-list-items layout-row layout-align-center">
  {{#paper-button onClick=(action onRoute "home")}}
    HOME
  {{/paper-button}}
  {{#paper-button onClick=(action onRoute "self")}}
    SELF
  {{/paper-button}}
  {{#paper-button onClick=(action onRoute "tech")}}
    TECH
  {{/paper-button}}
  {{#paper-button onClick=(action onRoute "heated")}}
    HEATED
  {{/paper-button}}
  {{#paper-button onClick=(action onRoute "design")}}
    DESIGN
  {{/paper-button}}
  {{#paper-button onClick=(action onRoute "more")}}
    MORE
  {{/paper-button}}
</div>