Index:
<br>
{{{fakeIndex}}}
{{#sidebar-wrap-left}}{{/sidebar-wrap-left}}
{{#sidebar-wrap-left}}{{/sidebar-wrap-left}}
{{#if hasBlock}}
  {{yield}}
{{/if}}

<button onclick={{action "changeHello"}}>changeHello</button>