<div class="sidebar-index">
  {{#paper-list}}
    {{#paper-subheader}}Navigation{{/paper-subheader}}
    {{#each listData as |item|}}
      {{#paper-item
        class="md-body-2"
        onClick=(action "redirectToLink" item.name)
      }}
        <div class="md-list-item-text">
          <div>
            # {{item.name}}
          </div>
        </div>
      {{/paper-item}}
    {{/each}}
    {{paper-divider}}
  {{/paper-list}}
</div>
{{#sidebar-wrap-left}}{{/sidebar-wrap-left}}