{{!-- TODO find out a easier way to do sorting category --}}
<div class="sidebar-index">
  {{#paper-list}}
    {{#paper-subheader}}Navigation{{/paper-subheader}}
    {{paper-divider}}
    {{#each category as |cat|}}
      {{#paper-item
        class="md-body-2"
        onClick=(action "setCategory" cat.title)
      }}
        <div class="md-list-item-text">
          <div>
            # {{cat.title}}
          </div>
        </div>
      {{/paper-item}}
    {{/each}}
  {{/paper-list}}
</div>