
{{!-- HIGHTLIGHT ANIMATION  --}}

<ul>
{{#each hello as |item idx|}}
  <li class="directionStyle" role="link" {{action "scrollTopPos" idx}}>{{{item}}}</li>
{{/each}}
</ul>

{{#if hasBlock}}
  {{yield}}
{{/if}}

{{!-- <button onclick={{action "changeHello"}}>changeHello</button> --}}