@import 'ember-paper';

@media only screen and (max-width: 960px) {
  .application_float_card_left {
    display: none
  }
  .application_float_card_right {
    display: none
  }
}

.application_nav {
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  right: 0;
  z-index: 10;
}

.application_tmp_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 30px;
}

.application_float_card_left {
  position: fixed;
  left: 6%;
  top: 14%;
  width: 12%;
  height: 600px;
  overflow-x: hidden;
}

.application_float_card_right {
  position: fixed;
  right: 6%;
  top: 14%;
}

.application_container {
  margin-top: 110px;
}

// home/
.postCardStyle {
  img.md-card-image {
    width: 100%;
  }
  .postCardContentStyle{
    overflow-wrap: break-word;
  }
}

// post/1
.postContentStyle {
  width: 600px;
  img {
    width: inherit;
  }
}

.fakeHeight {
  height: 1800px;
}

.flex-container {
  width: 300px;
}

.singleArticleList {
  md-card a {
    text-decoration: none;
    color: black;
  }
}

.singleArticleList:nth-child(odd) {

}

.singleArticleList:nth-child(even) {

}
