{{outlet}}


<!--header-->
<div class="layout-row layout-align-center">
  {{#paper-button onClick=(action "flatButton")}}HOME{{/paper-button}}
  {{#paper-button onClick=(action "flatButton")}}SELF{{/paper-button}}
  {{#paper-button onClick=(action "flatButton")}}TECH{{/paper-button}}
  {{#paper-button onClick=(action "flatButton")}}HEATED{{/paper-button}}
  {{#paper-button onClick=(action "flatButton")}}DESIGN{{/paper-button}}
  {{#paper-button onClick=(action "flatButton")}}CULTURE{{/paper-button}}
  {{#paper-button onClick=(action "flatButton")}}MORE{{/paper-button}}
</div>
