{{nav}}
<div class="application_float_card_left">
  {{#sidebar-wrap-left}}{{/sidebar-wrap-left}}
  {{#sidebar-wrap-left}}{{/sidebar-wrap-left}}
</div>
<div class="application_float_card_right">
  {{#sidebar-wrap-left}}{{/sidebar-wrap-left}}
  {{#sidebar-wrap-left}}{{/sidebar-wrap-left}}
</div>
{{outlet}}