<div class="application_container">
  <div class="layout-row layout-align-center">
    <h3>culture</h3>
    {{share-panel default=true buttons="fb,vk,twitter,linkedin,gplus,email,reddit"
                  labels="Share,Share,Tweet,Share,Share"}}
  </div>
</div>