<div class="postContentStyle">
<h3>Introduction:</h3>

<b>Living life openly. This year I set the following goals. Below you can find
  the progress on each.</b>

<br>Software Engineer at MMSG
<br>location
<br>Salt Lake City
<br>education
<br>University of California, San Diego | B.A.
<br>joined
<br>Mar 21, 2019

</div>