<div class="application_container">
  <div class="flex-container">
    {{article-list post=post}}
  </div>
</div>

<style>
  .fakeHeight {
    height: 1800px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
</style>
<div class="fakeHeight"></div>