<div class="application_container layout-row layout-align-center">
  <div class="flex-container">
    {{article-list post=post}}
  </div>
</div>

<style>
  .fakeHeight {
    height: 1800px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
  }
</style>
<div class="fakeHeight"></div>