<div class="application_container">
  <div class="layout-row layout-align-center">
    {{article-list post=post}}
  </div>
</div>

<style>
  .fakeHeight {
    height: 1800px;
  }
</style>
<div class="fakeHeight"></div>