<div class="application_container layout-row layout-align-center">
  <div class="flex-container">
    {{#each post as |value idx|}}
      {{article-list value=value idx=idx}}
    {{/each}}
  </div>
</div>
<div class="fakeHeight"></div>