<div class="application_container layout-row layout-align-center">
  {{!--  <div class="grid-container">--}}
  {{!--    {{#each post as |value|}}--}}
  {{!--      {{article-list value=value}}--}}
  {{!--    {{/each}}--}}
  {{!--  </div>--}}
  <div class="flex-container">
    {{#each evenPost as |value|}}
      {{article-list value=value}}
    {{/each}}
  </div>
  <div class="flex-container">
    {{#each oddPost as |value|}}
      {{article-list value=value}}
    {{/each}}
  </div>
</div>
<div class="fakeHeight"></div>