{{! TODO find a way to combine application container and flex container together, because we used those tag in three different place already.
  it is alway locate on the center of the page
 }}
<div class="flex-container">
  {{#each evenPost as |value|}}
    {{article-list value=value articleClick=(action "submit")}}
  {{/each}}
</div>
<div class="flex-container">
  {{#each oddPost as |value|}}
    {{article-list value=value articleClick=(action "submit")}}
  {{/each}}
</div>