{{sidebar-right class="application_float_card_right md-padding md-whiteframe-1dp" hello=hello}}
<div class="postContentStyle">
  <img src={{model.img}} alt={{model.title}} draggable="false" />
  {{{currentMarkdown}}}
</div>