<h3>
  Welcome to this post
</h3>
{{!<h2 id="title">}}
{{!  Welcome to Ember mirage}}
{{!</h2>}}
{{!--{{#each model as |post|}}--}}
{{!--  {{#link-to "posts" post.id}}--}}
{{!--    {{post.title}}--}}
{{!--  {{/link-to}}--}}
{{!  <br />}}
{{!--{{/each}}--}}
{{!<br />}}
{{!--Title:{{model.title}}<br>--}}
{{!--Text:{{model.text}}<br>--}}