<h1>This is the page</h1>


Living life openly. This year I set the following goals. Below you can find the progress on each.

work
Software Engineer at MMSG
location
Salt Lake City
education
University of California, San Diego | B.A.
joined
Mar 21, 2019